@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    list-style: none;
}
html, body{
    width: 100%;
    height: 100vh;
    background-color:#F4F6F6;
}

.container{
    width: 100%;
    padding:.8em;
    max-width: 1240px;
    margin: auto;
   
}

/* navbar */
.navbar-wrapper{
    height: 90px;
    color: white;
    display: flex;
    align-content: center;
    width: 100%;
    z-index: 9999;
    background-color: white;
}
.logo{
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 185, 0);
    padding: 0rem .5em;
}
.brand-name{
    font-size: 19px;
    font-family: cursive;
}
.brand-sec-name{
    font-size: 10px;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 .8em;
    max-width: 1240px;
    margin: auto;
}
.navbar-navigator{
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
}
.navbar-navigator li{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-navigator li a{
    color: black;   
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.navbar-navigator li a:hover{
    border-bottom: 3px solid rgb(0, 185, 0);

}
.login-button{
    border: 2px solid rgb(0, 185, 0);
    height: 35px;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 185, 0);
    align-items: center;
    justify-content: center;
    width: 70px;
    border-radius: 5px;
    transition: all .3s;
}

.login-button:hover{
    background-color:rgb(0, 185, 0);
    color: white;
    border: none;
}

.fixed{
    position: fixed;
    top: 0;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.227);
}

/* main-section */

.container{
    width: 100%;
    padding:.8em;
    max-width: 1240px;
    margin: auto;
   
}




/* checkout section */
.checkout-container{
    display: flex;
    gap: 1em;
}
.checkout-box1{
    flex:3;
}
.checkout-box2{
    flex:1;
}
.name-container{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.name-cont{
    display: flex;
    flex-direction: column;
}
.name-cont{
    width: 100%;
}
.name-cont input{
    padding: .5em;
    font-size: 1em;
    outline: none;
}
.product-item{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.139);
    padding: .3em;

}
.online-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em .5em;
    background-color: white;

}
.payment-options{
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: 1em 0;
}
.cash-option{
    padding: 1em .5em;
    background-color: white;
}
.online-option img{
    width: 100px;
}


.order-place-btn{
    border:none;
    background-color: rgb(0, 185, 0);
    color: white;
    font-size: 1.3em;
    width: 100%;
    padding: .5em;
    font-weight: 500;
}




table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
  }

  /* Style the table header cells */
  th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
  }

  /* Style the table data cells */
  td {
    padding: 10px;
  }

  /* Add alternating background color to table rows for better readability */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

/* footer */

.footer{
    height: 20em;
    background-color: rgb(0, 185, 0);
    color: white;
    width: 100%;
   
}
.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    height: 100%;
}

.footer-navigator{
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.footer-logo{
    background-color: white;
    color: rgb(0, 185, 0);
    width: 180px;
    height: 5.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%; 
}

.footer-logo-text1{
    font-family: cursive;
    font-size: 1.8em;
}

.footer-logo-text2{
    font-size: 1em;
    
}


.footer-nav-links li{
    font-size: 1.2em;
    font-weight: 500;
    padding: .2em 0;
}
.footer-nav-links li a{
    color: rgb(255, 255, 255);

}


.copy-social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .8em;
    font-size: 1.2em;
}

.social-links{
    padding: 0 1em;
}


.social-links i{
    padding: .3em;
}
